/* Empty. Add your own CSS if you like */

.cync-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, li, .title, button {
    font-family: 'Raleway';
}

.new-view {
    padding-top: 10%;
}

.new-form {
    height: 50px;
}

.timer {
    text-align: center;
    margin-top: 30vh;
}

.timer h1 {
    font-size: 60pt;
}
