<ion-view hide-nav-bar="true">
    <ion-content>
        <ui-view name="outerContent">
            <div class="groups" ng-repeat="group in groups">
                <md-card class="" ng-click="goto(group.name)">
                    <md-card-content>
                        <h1>{{ group.name }}</h1>
                        <i class="icon ion-person"></i>
                        11
                        &nbsp;
                        &nbsp;
                        <i class="icon ion-clock"></i>
                        11:24
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Edit</md-button>
                        <md-button class="md-warn">Delete</md-button>
                    </div>
                </md-card>
            </div>
        </ui-view>
    </ion-content>
    <md-button class="fab md-fab" ng-click="fabAction()">
        <md-icon md-font-set="material-icons">{{ button }}</i>
    </md-button>
</ion-view>
