<div>
    <div ng-if="doneLoading">
        <div ng-if="!started">
            <md-card class="" ng-click="goto(group)">
                <md-card-content>
                    <h1>{{ group.name }}</h1>
                    <i class="icon ion-clock"></i>
                    {{ (group.settings.slice(-1)[0] * 1000)|date:'mm:ss' }}
                    <md-list>
                      <md-subheader class="md-no-sticky">Notification Times</md-subheader>
                      <md-list-item ng-repeat="time in group.settings">
                        <p> {{ (time * 1000)|date:'mm:ss' }} </p>
                        <md-button class="md-warn" ng-click="deleteTime(time)">Delete</md-button>
                      </md-list-item>
                    </md-list>

                    <div class="layout">
                            <md-input-container>
                              <label>Minutes</label>
                              <input required type="text" step="any" ng-model="settings.mins">
                            </md-input-container>
                            <md-input-container>
                              <label>Seconds</label>
                              <input required type="text" step="any" ng-model="settings.secs">
                            </md-input-container>
                    </div>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="addTime()">Add Time</md-button>
                    <md-button ng-click="save()">Save</md-button>
                    <md-button class="md-accent" ng-click="start()">Start</md-button>
                </div>
            </md-card>
        </div>
        <div ng-if="started" class="timer">
            <h3>Time Elapsed</h3>
            <h1>{{ (clock * 1000)|date:'mm:ss' }}</h1>
        </div>
    </div>
    <div ng-if="!doneLoading">
        <ion-spinner style="position:absolute;top:0;width:200px;height:200px;margin-top:50vh;margin-left:50vw;" icon="spiral"></ion-spinner>
    </div>
</div>
