<ion-view view-title="Create New" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Thronester</h1>
            </div>
        </div>
        <div class="list">
            <input ng-model="group.name" placeholder="Username" highlight-color="balanced" type="text"></input>
        </div>
        <div class="padding">
            <button ng-click="addGroup()" class="button button-full button-assertive ink">Login</button>
        </div>
    </ion-content>
</ion-view>
